.title {
  text-align: center;
}

.container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 8px;
  padding: 8px;
}

.flightCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 12px;
  border-radius: 6px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.patchImage {
  height: 12em;
}

.flightCard:hover,
.flightCard:focus,
.flightCard:active {
  background: radial-gradient(#0072ff, #4a0fff9c);
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}
